<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default-particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>default_btn_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>default_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>default_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,61},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>default_editbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,19},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>default_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,66},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>default_progressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,105},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>default_progressbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,15}}</string>
                <key>sourceSize</key>
                <string>{60,15}</string>
            </dict>
            <key>default_radio_button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>default_radio_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>default_scrollbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,120},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>default_scrollbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>default_scrollbar_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,73},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>default_scrollbar_vertical_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,41},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>default_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,103},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>default_sprite_splash.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,88},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>default_toggle_checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,19},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{20,18}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>default_toggle_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>default_toggle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,141},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>default_toggle_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,141},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>default.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:345e68869d305e86b271c26e79c92a7b:1/1$</string>
            <key>textureFileName</key>
            <string>default.png</string>
        </dict>
    </dict>
</plist>
